<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="views/css/nav.css"> 
    <link rel="stylesheet" href="views/css/sidebar.css"> 
    <link rel="stylesheet" href="views/css/watch.css"> 
    <!--<link rel="stylesheet" href="../css/watch.css"> 
    <link rel="stylesheet" href="../css/nav.css">-->
    <link rel="icon" href="views/icon.png" type="image/png">
    <title>Videoh</title>
</head>
<body>
    <div class="m-notification">
        <div class="mn-title">訊息</div>
        <div class="mn-list">
        </div>
    </div>
    <div class="n-notification">
        <div class="nn-title">通知</div>
        <div class="nn-list">
        </div>
    </div>
    <div class="nav">
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="brand"><img src="views/logo.png"></div>
        <div class="menu">
            <div class="menu-item"></div>
        </div>
        <div class="search">
            <div class="search-box">
                <input class="search-txt" placeholder="搜尋">
                <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <div class="search-advice"></div>
        </div>
        <div class="usr-action">
            <div class="islogin">
                <div class="act-item notification">
                    <div class="unview"></div>
                    <i class="far fa-bell"></i>
                </div>
                <div class="act-item message">
                    <div class="unviewmessage"></div>
                    <i class="far fa-comment-dots"></i>
                </div>
                <div class="act-item user-icon"><img></div>
                <div class="user-func">
                    <div class="manage">
                        <div class="m-img">
                            <div class="m-icon"><img></div>
                        </div>
                        <div class="m-txt">
                            <div class="m-name">王楷翔</div>
                            <div class="m-email">bruce1198@gmail.com</div>
                            <div class="manage-btn">管理你的帳戶</div>
                        </div>
                    </div>
                    <div class="func-item theme">
                        <i class="fas fa-sun"></i>
                        <span>深色主題: 關閉</span> 
                    </div>
                    <div class="func-item act-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>登出</span> 
                    </div>
                </div>
            </div>
            <div class="notlogin">
                <div class="act-item act-login">
                    登入
                </div>
                <div class="act-item act-register">
                    註冊
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="islogin">
            <div class="side-item selected act-home">
                <i class="fas fa-home"></i>
                <span>首頁</span>
            </div>
            <div class="side-item act-subscribe">
                <i class="fas fa-list-alt"></i>
                <span>訂閱內容</span>
            </div>
            <div class="side-item act-like">
                <i class="far fa-thumbs-up"></i>
                <span>喜歡的影片</span>
            </div>
            <div class="side-border"></div>
            <div class="side-item act-message">
                <i class="fas fa-inbox"></i>
                <span>我的訊息</span> 
            </div>
            <div class="side-item act-profile">
                <i class="fas fa-child"></i>
                <span>我的資料</span> 
            </div>
            <div class="side-item act-upload">
                <i class="fas fa-folder-plus"></i>
                <span>上傳影片</span> 
            </div>
            <div class="side-border"></div>
            <div class="drawer-hide">
                <div class="friend-list">
                </div>
            </div>
        </div>
        <div class="notlogin">
            <div class="please-login">
                請先登入
            </div>
        </div>
    </div>
    <div class="content">
        <div class="video-view">
            <div id="container" class="video">
                <div class="video-title-hover"></div>
                <video autoplay muted="muted"></video>
                <div class="big-play">
                    <i class="fab fa-youtube"></i>
                </div>
                <div class="control">
                    <div class="progress">
                        <div class="progress-bar">
                            <div class="buffer"></div>
                            <div class="value"></div>
                            <div class="handle"></div>
                        </div>
                    </div>
                    <div class="other-controls">
                        <div class="play ctrl-item"><i class="fas fa-play"></i></div>
                        <div class="next ctrl-item"><i class="fas fa-step-forward"></i></div>
                        <div class="volume ctrl-item"><i class="fas fa-volume-up"></i></div>
                        <div class="vol-ctrl">
                            <div class="vol-bar">
                                <div class="vol-value"></div>
                                <div class="vol-handle"></div>
                            </div>
                        </div>
                        <div class="position"></div>
                        <div class="full ctrl-item"><i class="fas fa-expand"></i></div>
                        <div class="pip ctrl-item"><i class="far fa-clone"></i></div>
                        <div class="speed ctrl-item"><i class="fas fa-cog"></i></div>
                        <div class="speed-selector">
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>0.25</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>0.5</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>0.75</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas fa-check"></i>
                                <span>正常</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>1.25</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>1.5</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>1.75</span>
                            </div>
                            <div class="aspeed">
                                <i class="fas"></i>
                                <span>2</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail">
                <div class="video-title">
                    
                </div>
                <div class="video-detail">
                    <div class="watched-count">
                        觀看次數: 64,860次
                    </div>
                    <div class="detail-act share-video">
                        <i class="fas fa-share"></i>
                        <span>分享</span>
                    </div>
                    <div class="detail-act dislike-video">
                        <i class="fas fa-heart-broken"></i>
                        <span>0</span>
                    </div>
                    <div class="detail-act like-video">
                        <i class="far fa-heart"></i>
                        <span>0</span>
                    </div>
                </div>
            </div>
            <div class="border"></div>
            <div class="vusr-content">
                <div class="basic-info">
                    <div class="vusr-icon"><img></div>
                    <div class="info">
                        <div class="vusr-name">王楷翔</div>
                        <div class="upload-time">發布日期: 2019年3月21日</div>
                    </div>
                    <div class="subscribe">
                        <div class="scb-btn">
                            <i class="fas fa-bell"></i>
                            <span>訂閱</span>
                        </div>
                    </div>
                </div>
                <div class="video-desc"></div>
                <div class="show-whole">顯示完整資訊</div>
            </div>
            <div class="border"></div>
            <div class="comment">
                <div class="reply-total">871 則留言</div>
                <div class="do-reply">
                    <div class="dicon"><img></div>
                    <input class="dinput" type="text" placeholder="新增公開留言...">
                </div>
                <div class="reply-list">
                    <div class="a-reply">
                        <div class="ricon"></div>
                        <div class="rtxt">
                            <div class="rinfo">
                                <div class="rname">王楷翔</div>
                                <div class="r-time">兩年前</div>
                            </div>
                            <div class="rcontent">哇哇哇</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-video">
            <!--<div class="video-card">
                <div class="v-pic"></div>
                <div class="v-txt">
                    <div class="v-name">那些你很冒險的夢</div>
                    <div class="v-owner">王楷翔</div>
                </div>
            </div>
            <div class="other-border"></div>-->
        </div>
        <div class="like-content">
            <div class="like-title">喜歡的影片</div>
            <div class="like-list"></div>
        </div>
    </div>
    <div class="share-view">
        <div class="bar">
            <div class="share-title">發送訊息</div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="share-to">
            <span>分享對象: </span>
            <input class="share-input" type="text" placeholder="搜尋使用者">
        </div>
        <div class="friends">
            <!--<div class="friend">
                <div class="friend-icon"></div>
                <div class="friend-name">王楷翔</div>
            </div>
            <div class="friend">
                <div class="friend-icon"></div>
                <div class="friend-name">王楷翔</div>
            </div>-->
        </div>
        <div class="cut-view">
            <div class="ltime"></div>
            <div class="lline"></div>
            <div class="preview-time"></div>
            <video></video>
            <div class="rtime"></div>
            <div class="rline"></div>
        </div>
        <div class="share-act">
            <div class="try"><i class="far fa-play-circle"></i></div>
            <div class="send">傳送</div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="views/js/watch.js"></script>
    <script src="views/js/sidebar.js"></script>
    <script src="views/js/nav.js"></script>
    <script src="views/js/client.js"></script>
    <!--<script src="../js/nav.js"></script>
    <script src="../js/watch.js"></script>-->
</body>
</html>