* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}
video, img {
    width: 100%;
    height: 100%;
}
body {
    color: black;
    background: white;
}
.content {
    float: right;
    width: calc(100vw - 300px);
    padding: 0;
    padding-top: 60px;
    margin: 0;
}
.content-big {
    width: calc(100vw - 100px);
}
.hot-video {
    width: 1400px;
    height: 350px;
    margin: 50px auto;
}
.carousel {
    position: relative;
    float: left;
    width: 85%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}
.carousel-item {
    position: absolute;
    width: 800px;
    height: calc(100% - 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #00000070;
    transition: all 0.4s;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background: white;
}
.preview {
    height: 100%;
    width: 70%;
    background: black;
    float: left;
}
.video-info {
    float: left;
    width: calc(30% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
}
.user-image {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
}
.user-name {
    float: left;
    font-size: 18px;
    margin-left: 10px;
    width: 100px;
    color: #ffa502;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-info {
    height: 80px;
}
.title {
    margin-top: 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 20px;        /* fallback */
    max-height: 50px; 
}
.video-detail {
    color: gray;
    font-size: 12px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9; /* number of lines to show */
    line-height: 18px;
}
button {
    width: 7.5%;
    height: 350px;
    z-index: 999;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    text-align: center;
    float: left;
}
button i {
    width: 50px;
    height: 35px;
    border-radius: 50%;
    padding-top: 15px;
    background: #ff7f50;
    color: white;
    cursor: pointer;
}
button i:active {
    background: #ff6348;
    transform: scale(0.9);
}
.hot-title {
    font-size: 20px;
    width: 1380px;
    margin: 0 auto;
}
.video-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 1400px;
}
.video-card {
    width: calc(16.6% - 20px);
    height: 240px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px #00000070;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 5px;
    overflow: hidden;
}
.video-title {
    padding: 5px 5px 5px 10px;
    font-size: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 20px;        /* fallback */
    height: 35px; 
}
.card-preview {
    width: 100%;
    height: 55%;
    background: black;
}
.upload-user {
    font-size: 14px;
    color: gray;
    padding: 10px 10px 0 10px;
}
.view-count {
    font-size: 14px;
    color: gray;
    padding: 2.5px 10px;
}
.video-id {
    display: none;
}
@media screen and (max-width: 1700px) {
    .hot-video {
        width: 1200px;
    }
    .video-list {
        width: 1200px;
    }
    .hot-title {
        width: 1180px;
    }
    .video-card {
        width: calc(20% - 20px);
    }
}
@media screen and (max-width: 1510px) {
    .hot-video {
        width: 1000px;
    }
    .video-list {
        width: 1000px;
    }
    .hot-title {
        width: 980px;
    }
    .video-card {
        width: calc(25% - 20px);
    }
}
@media screen and (max-width: 1350px) {
    .content {
        width: calc(100vw - 100px);
    }
    .hot-video {
        width: 1000px;
    }
    .video-card {
        width: calc(25% - 20px);
    }
}
@media screen and (max-width: 1110px) {
    .hot-video {
        width: 82vw;
        height: 35vw;
    }
    .carousel-item {
        width: 68vw;
        height: 30.5vw;
    }
    button {
        font-size: 16px;
    }
    button i {
        width: 40px;
        height: 27.5px;
        padding-top: 12.5px;
    }
    .hot-title {
        width: 780px;
    }
    .video-list {
        width: 800px;
    }
    .video-card {
        width: calc(33.3% - 20px);
    }
}
@media screen and (max-width: 910px) {
    .hot-title {
        width: 530px;
    }
    .carousel {
        width: 80%;
        margin: 0 10%;
    }
    .carousel-item {
        width: 90%;
    }
    button {
        display: none;
    }
    .video-list {
        width: 550px;
    }
    .video-card {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 800px) {
    .search {
        display: none;
    }
    .usr-action {
        display: none;
    }
    .content {
        width: 100vw;
        margin: 0;
    }
    .hot-title {
        margin-left: calc(5vw + 10px);
    }
    .hot-video {
        width: 90vw;
        height: 40vw;
        padding: 0 5vw;
        margin: 50px 0;
    }
    .carousel {
        width: 100%;
        margin: 0;
    }
    .carousel-item {
        width: calc(99% - 20px);
        height: 35.5vw;
        margin: 0 10px;
    }
    .video-list {
        width: 90vw;
        margin: 0 5vw;
    }
    .video-card {
        width: calc(45vw - 20px);
        height: 40vw;
    }
}